.blogpic{
    width:80%;
    margin:auto 0;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

button{
    border: none;
    background-color: white;
}

button:hover{
    cursor: pointer;
}

.logo{
    width:80%;
    margin:auto 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;

}
@media only screen and (max-width: 600px) {
    .logo {
        width:100%;
        margin:auto 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
    
    }
    .blogpic{
        width:100%;
        margin:auto 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    
    }
  }

.helpbutton{
  
    position: sticky;
    background-color: violet;
    
    right: 0;
    width:10%;
}

.blogdesccription{
    font-size: 30px;
}