.header{

}
.scrolup{

    display: block;
    position: absolute;
    position:sticky;
    bottom: 0;
    width: auto;
    
   
    
}
button.scrolupbutton{
    width: 100px;
    height: 100px;
    position: absolute;
    position: fixed;
    
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  margin-right: 80px;




    
   
}
.up{
    background-position: center;
    max-width:100%;
max-height:100%;
height: auto;
    
}
.title{
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
}

.blogpic{
    width:80%;
    margin:auto 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    


}

button{
    border: none;
    background-color: white;
}

button:hover{
    cursor: pointer;
}

.logo{
    width:40%;
    margin-top: 20px;
    
    display: block;
    margin-left: 10%;
    
    font-size: 100px;

}

.postblock{
    margin-top: 100px;
    margin-bottom: 200px;
}
@media only screen and (max-width: 600px) {
    .logo {
        width:90%;
        margin:auto 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        
        font-size: 30px;
        text-decoration: underline;
    
    }
    .postblock{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .blogpic{
        width:100%;
        margin:auto 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    
    }
    button.scrolupbutton{
        width: 80px;
        height: 80px;
        background-color: rgba(240, 248, 255, 0);
        position: absolute;
        position: fixed;
      bottom: 0;
      right: 0;
      margin-bottom: 20px;
      margin-right: 20px;
    
        
       
    }
  }

.helpbutton{
  
    position: sticky;
    background-color: violet;
    
    right: 0;
    width:10%;
}

.blogdesccription{
    font-size: 30px;
}