.center{
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}
.section1{
    font-size: 20px;
    margin-bottom: 30px;
    
}
.section1{
    font-size: 20px;
    margin-bottom: 30px;
    
}

.textalign{
    
}

.postpic{
    width:100%;
    margin:auto 0;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.explanantion{
    font-size: 30px;
    line-height: 70px;
}
.inlinepic{
    width:55%;

}
.margintoplan{
    margin-top: 100px;
    
    
    
}
.lan{
    float: right;
    font-weight: 800;
}
.Myth{
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    font-size: 80px;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .postpic {
        width:100%;
        margin:auto 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
    
    }
    h1{
        font-size: 50px;
        font-weight: 500;
    }
    
    .lan{
        display: block;
        
        margin-bottom: 20px;
        font-weight: 800;
        font-size: larger;
    }
    .center{
        margin-right: auto;
        clear: both;
        margin-left: auto;
        width: 90%;
    }
    .explanantion{
        font-size: 25px;
        line-height: 50px;
    }
  }
